<!DOCTYPE html>
<html>
  <head>
    <title>Quiz!<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal extremo! <%= title %></p>
    <p><a href ="/quizes/question">A jugar!</a></p>

    
  </body>
</html>
